.main_header{
    background-color: rgb(36, 160, 160);
    padding: 2.8%;

    border-top-left-radius:25px;
    border-top-right-radius:25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-color: rgb(5, 54, 54);

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.headerbuttons{
    background-color: rgb(49, 145, 145);
    border: 0;
    font-size: medium;
    float: right;
    text-align: center;
    text-decoration: none;
    padding: 4px 22px;
}
