body {
    font-family: Arial, sans-serif;
    background-color: #fafafa;
    margin: 0;
    padding: 0;  
  }
  a:hover {
    pointer-events: none;
  }
  header {
    display: flex;
    align-items: center;
    padding: 16px;
    background-color: #333;
    color: #fff;
  }
  .cookiePopUp{
    background-color: #dedede;
    border: black solid 1px;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
  }
  .cookiePopUp button{
    border: transparent solid 1px;
    width: 100px;
    height: 30px;
  }
  .logo {
    flex: 1;
  }
  
  .logo img {
    width: 64px;
    height: 64px;
  }
  
  nav {
    flex: 1;
    text-align: center;
    background-color: #333;
    height: 50px;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  nav li {
    display: inline-block;
    margin-left: 16px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    cursor: default;
  }
  h1 {
    text-align: center;
    margin: 24px 0;
  }
  
  img {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    width: 200px;
    height: 200px;
  }
  h2 {
    margin: 16px 0;
    padding: 8px;
  }
  h3 {
    margin: 8px 0;
    padding: 8px;
  }
  p {
    margin: 8px 0;
    padding: 16px;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  li {
    margin: 4px 0;
  }
  button{
    margin: 4px 0;
  }
  .skill-box {
    background-color: #ededed;
    padding: 8px;
    border-radius: 4px;
  }
  .darkButton{
    background-color: #333;
    color: #fff;
    border: none;
  }

  .dark-mode .skill-box {
    background-color: #333;
    color: #fff;
  }

  body.dark-mode {
    background-color: #424242;
    color: #fff;
  }
  
  body.dark-mode{
    color: #eee;
  }
  
  body.dark-mode h1,
  body.dark-mode h2,
  body.dark-mode h3,
  body.dark-mode h4,
  body.dark-mode h5,
  body.dark-mode h6 {
    color: #fff;
  }