@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

#introductionTitle {
    margin: 0;
    padding-top: 18px;
    padding-left: 25px;
    font-family: 'Roboto Mono', monospace;
    font-size: x-large;
}

#introduction {
    padding-left: 45px;
    padding-right: 45px;
    font-family: 'Roboto Mono', monospace;
}

.spacer {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
}

#downloadBTN {
    width: 130px;
    height: 50px;
    border-radius: 6px;
    border-color: transparent;
    background-color: rgb(25, 197, 25);
    color: black;
}

a {
    color: rgb(80, 80, 255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}